{
   "create_connection":{
      "test_name":"test_create_connection",
      "enabled":true,
      "expected":{
         "exceptions":{
            "connection1":{
               "count":0
            }
         }
      },
      "cms_configuration":{
         "connection1":{
            "broker":"failover:(localhost:5672)?maxReconnectAttempts=5",
            "username":"admin",
            "password":"admin"
         }
      }
   },
   "stop_and_start_connection":{
      "test_name":"test_stop_and_restart_connection",
      "enabled":true,
      "expected":{
         "exceptions":{
            "connection1":{
               "count":0
            }
         }
      },
      "cms_configuration":{
         "connection1":{
            "broker":"failover:(localhost:5672)?maxReconnectAttempts=5",
            "username":"admin",
            "password":"admin"
         }
      }
   },
   "create_connection_with_client_id":{
      "test_name":"test_create_connection",
      "enabled":true,
      "expected":{
         "exceptions":{
            "connection1":{
               "count":0
            }
         }
      },
      "cms_configuration":{
         "connection1":{
            "id":"ID:TEST:CMS_CLIENT",
            "broker":"failover:(localhost:5672)?maxReconnectAttempts=5",
            "username":"admin",
            "password":"admin"
         }
      }
   },
   "create_session":{
      "test_name":"test_create_session",
      "enabled":true,
      "expected":{
         "exceptions":{
            "connection1":{
               "count":0
            }
         }
      },
      "cms_configuration":{
         "connection1":{
            "broker":"failover:(localhost:5672)?maxReconnectAttempts=5",
            "username":"admin",
            "password":"admin",
            "session":{
               "session1":{
                  "auto_ack":true,
                  "is_transacted":false
               }
            }
         }
      }
   },
   "close_session":{
      "test_name":"test_close_session",
      "enabled":true,
      "expected":{
         "exceptions":{
            "connection1":{
               "count":0
            }
         }
      },
      "cms_configuration":{
         "connection1":{
            "broker":"failover:(localhost:5672)?maxReconnectAttempts=5",
            "username":"admin",
            "password":"admin",
            "session":{
               "session1":{
                  "auto_ack":true,
                  "is_transacted":false
               }
            }
         }
      }
   },
   "create_topic_producer":{
      "test_name":"test_create_producer_and_consumer_for_destination",
      "enabled":true,
      "expected":{
         "exceptions":{
            "connection1":{
               "count":0
            }
         }
      },
      "cms_configuration":{
         "connection1":{
            "broker":"failover:(localhost:5672)?maxReconnectAttempts=5",
            "username":"admin",
            "password":"admin",
            "session":{
               "session1":{
                  "auto_ack":true,
                  "is_transacted":false,
                  "clients":{
                     "consumers":{
                        
                     },
                     "producers":{
                        "producer1":{
                           "dest_type":"topic",
                           "address":"CMS_CLIENT_TOPIC",
                           "properties":{
                              
                           }
                        }
                     }
                  }
               }
            }
         }
      }
   },
   "create_queue_producer":{
      "test_name":"test_create_producer_and_consumer_for_destination",
      "enabled":true,
      "expected":{
         "exceptions":{
            "connection1":{
               "count":0
            }
         }
      },
      "cms_configuration":{
         "connection1":{
            "broker":"failover:(localhost:5672)?maxReconnectAttempts=5",
            "username":"admin",
            "password":"admin",
            "session":{
               "session1":{
                  "auto_ack":true,
                  "is_transacted":false,
                  "clients":{
                     "consumers":{
                        
                     },
                     "producers":{
                        "producer1":{
                           "dest_type":"queue",
                           "address":"CMS_CLIENT_QUEUE",
                           "properties":{
                              
                           }
                        }
                     }
                  }
               }
            }
         }
      }
   },
   "create_topic_consumer":{
      "test_name":"test_create_producer_and_consumer_for_destination",
      "enabled":true,
      "expected":{
         "exceptions":{
            "connection1":{
               "count":0
            }
         }
      },
      "cms_configuration":{
         "connection1":{
            "broker":"failover:(localhost:5672)?maxReconnectAttempts=5",
            "username":"admin",
            "password":"admin",
            "session":{
               "session1":{
                  "auto_ack":true,
                  "is_transacted":false,
                  "clients":{
                     "consumers":{
                        "consumer1":{
                           "dest_type":"topic",
                           "address":"CMS_CLIENT_TOPIC"
                        }
                     },
                     "producers":{
                        
                     }
                  }
               }
            }
         }
      }
   },
   "create_queue_consumer":{
      "test_name":"test_create_producer_and_consumer_for_destination",
      "enabled":true,
      "expected":{
         "exceptions":{
            "connection1":{
               "count":0
            }
         }
      },
      "cms_configuration":{
         "connection1":{
            "broker":"failover:(localhost:5672)?maxReconnectAttempts=5",
            "username":"admin",
            "password":"admin",
            "session":{
               "session1":{
                  "auto_ack":true,
                  "is_transacted":false,
                  "clients":{
                     "consumers":{
                        "consumer1":{
                           "dest_type":"queue",
                           "address":"CMS_CLIENT_QUEUE"
                        }
                     },
                     "producers":{
                        
                     }
                  }
               }
            }
         }
      }
   },
   "publish message":{
      "test_name":"test_create_producer_and_consumer_for_destination",
      "enabled":true,
      "expected":{
         "exceptions":{
            "connection1":{
               "count":0
            }
         }
      },
      "cms_configuration":{
         "connection1":{
            "broker":"failover:(localhost:5672)?maxReconnectAttempts=5",
            "username":"admin",
            "password":"admin",
            "session":{
               "session1":{
                  "auto_ack":true,
                  "is_transacted":false,
                  "clients":{
                     "producers":{
                        "producer1":{
                           "dest_type":"topic",
                           "address":"CMS_CLIENT_TOPIC",
                           "properties":{
                              
                           }
                        }
                     }
                  }
               }
            }
         }
      },
      "message_parameters":{
         "producer1":{
            "session_factory":"connection1",
            "message_factory":"session1",
            "message_type":"text",
            "sender_type":"engine",
            "message_count":1,
            "message_file":"C:\\Users\\krzysztof.obrebski\\Documents\\Workspace\\messaging-cms-client\\TestLogs\\TradeRelayLogs.txt"
         }
      }
   },
   "produce message":{
      "test_name":"test_create_producer_and_consumer_for_destination",
      "enabled":true,
      "expected":{
         "exceptions":{
            "connection1":{
               "count":0
            }
         }
      },
      "cms_configuration":{
         "connection1":{
            "broker":"failover:(localhost:5672)?maxReconnectAttempts=5",
            "username":"admin",
            "password":"admin",
            "session":{
               "session1":{
                  "auto_ack":true,
                  "is_transacted":false,
                  "clients":{
                     "producers":{
                        "producer1":{
                           "dest_type":"queue",
                           "address":"CMS_CLIENT_QUEUE"
                        }
                     }
                  }
               }
            }
         }
      },
      "message_parameters":{
         "producer1":{
            "session_factory":"connection1",
            "message_factory":"session1",
            "message_type":"text",
            "sender_type":"engine",
            "message_count":1,
            "message_file":"C:\\Users\\krzysztof.obrebski\\Documents\\Workspace\\messaging-cms-client\\TestLogs\\TradeRelayLogs.txt"
         }
      }
   },
   "consume message":{
      "test_name":"test_create_producer_and_consumer_for_destination",
      "enabled":true,
      "expected":{
         "exceptions":{
            "connection1":{
               "count":0
            }
         },
         "messages":{
            "consumer1":{
               "connection":"connection1",
               "session":"session1",
               "message_type":"text",
               "receiver_type":"engine",
               "message_count":1
            }
         },
         "cms_configuration":{
            "connection1":{
               "broker":"failover:(localhost:5672)?maxReconnectAttempts=5",
               "username":"admin",
               "password":"admin",
               "session":{
                  "session1":{
                     "auto_ack":true,
                     "is_transacted":false,
                     "clients":{
                        "producers":{
                           "producer1":{
                              "dest_type":"queue",
                              "address":"CMS_CLIENT_QUEUE"
                           }
                        }
                     }
                  }
               }
            }
         }
      }
   },
   "produce_and_consume message":{
      "test_name":"test_create_producer_and_consumer_for_destination",
      "enabled":true,
      "expected":{
         "exceptions":{
            "connection1":{
               "count":0
            }
         },
         "messages":{
            "consumer1":{
               "connection":"connection1",
               "session":"session1",
               "message_type":"text",
               "receiver_type":"engine",
               "message_count":1
            }
         }
      },
      "cms_configuration":{
         "connection1":{
            "broker":"failover:(localhost:5672)?maxReconnectAttempts=5",
            "username":"admin",
            "password":"admin",
            "session":{
               "session1":{
                  "auto_ack":true,
                  "is_transacted":false,
                  "clients":{
                     "consumers":{
                        "consumer1":{
                           "dest_type":"queue",
                           "address":"CMS_CLIENT_QUEUE"
                        }
                     },
                     "producers":{
                        "producer1":{
                           "dest_type":"queue",
                           "address":"CMS_CLIENT_QUEUE",
                           "properties":{
                              
                           }
                        }
                     }
                  }
               }
            }
         }
      },
      "message_parameters":{
         "producer1":{
            "session_factory":"connection1",
            "message_factory":"session1",
            "message_type":"text",
            "sender_type":"engine",
            "message_count":1
         }
      }
   },
   "publish_and_subscribe":{
      "test_name":"test_create_producer_and_consumer_for_destination",
      "enabled":true,
      "expected":{
         "exceptions":{
            "connection1":{
               "count":0
            }
         },
         "messages":{
            "consumer1":{
               "connection":"connection1",
               "session":"session1",
               "message_type":"text",
               "receiver_type":"engine",
               "message_count":1
            }
         }
      },
      "cms_configuration":{
         "connection1":{
            "broker":"failover:(localhost:5672)?maxReconnectAttempts=5",
            "username":"admin",
            "password":"admin",
            "session":{
               "session1":{
                  "auto_ack":true,
                  "is_transacted":false,
                  "clients":{
                     "consumers":{
                        "consumer1":{
                           "dest_type":"topic",
                           "address":"CMS_CLIENT_TOPIC"
                        }
                     },
                     "producers":{
                        "producer1":{
                           "dest_type":"topic",
                           "address":"CMS_CLIENT_TOPIC",
                           "properties":{
                              
                           }
                        }
                     }
                  }
               }
            }
         }
      },
      "message_parameters":{
         "producer1":{
            "session_factory":"connection1",
            "message_factory":"session1",
            "message_type":"text",
            "sender_type":"engine",
            "message_count":1
         }
      }
   },
   "publish_and_subscribe_with_selector":{
      "test_name":"test_create_producer_and_consumer_for_destination",
      "enabled":true,
      "expected":{
         "exceptions":{
            "connection1":{
               "count":0
            }
         },
         "messages":{
            "consumer1":{
               "connection":"connection1",
               "session":"session1",
               "message_type":"text",
               "receiver_type":"engine",
               "message_count":1
            },
            "consumer2":{
               "connection":"connection1",
               "session":"session1",
               "message_type":"text",
               "receiver_type":"engine",
               "message_count":1
            },
            "consumer3":{
               "connection":"connection1",
               "session":"session1",
               "message_type":"text",
               "receiver_type":"engine",
               "message_count":1
            }
         }
      },
      "cms_configuration":{
         "connection1":{
            "broker":"failover:(localhost:5671,localhost:5672,localhost:5673)?maxReconnectAttempts=1",
            "username":"admin",
            "password":"admin",
            "session":{
               "session1":{
                  "auto_ack":true,
                  "is_transacted":false,
                  "clients":{
                     "consumers":{
                        "consumer1":{
                           "dest_type":"topic",
                           "address":"CMS_CLIENT_TOPIC",
                           "selector":"REGION = 'UK'"
                        },
                        "consumer2":{
                           "dest_type":"topic",
                           "address":"CMS_CLIENT_TOPIC",
                           "selector":"REGION = 'US'"
                        },
                        "consumer3":{
                           "dest_type":"topic",
                           "address":"CMS_CLIENT_TOPIC",
                           "selector":"REGION = 'UK' OR REGION = 'US'"
                        }
                     },
                     "producers":{
                        "producer1":{
                           "dest_type":"topic",
                           "address":"CMS_CLIENT_TOPIC",
                           "properties":{
                              
                           }
                        },
                        "producer2":{
                           "dest_type":"topic",
                           "address":"CMS_CLIENT_TOPIC",
                           "properties":{
                              
                           }
                        }
                     }
                  }
               }
            }
         }
      },
      "message_parameters":{
         "producer1":{
            "session_factory":"connection1",
            "message_factory":"session1",
            "message_type":"text",
            "sender_type":"engine",
            "message_count":1,
            "properties":{
               "REGION":"US"
            }
         },
         "producer2":{
            "session_factory":"connection1",
            "message_factory":"session1",
            "message_type":"text",
            "sender_type":"engine",
            "message_count":1,
            "properties":{
               "REGION":"UK"
            }
         }
      }
   },
   "check_property_exist_by_default_delivery_mode":{
      "test_name":"test_create_producer_and_consumer_for_destination",
      "enabled":true,
      "expected":{
         "exceptions":{
            "connection1":{
               "count":0
            }
         },
         "messages":{
            "consumer1":{
               "connection":"connection1",
               "session":"session1",
               "message_type":"text",
               "receiver_type":"engine",
               "message_count":1,
               "properties":{
                  "delivery_mode":1
               }
            }
         }
      },
      "cms_configuration":{
         "connection1":{
            "broker":"failover:(localhost:5672)?maxReconnectAttempts=5",
            "username":"admin",
            "password":"admin",
            "session":{
               "session1":{
                  "auto_ack":true,
                  "is_transacted":false,
                  "clients":{
                     "consumers":{
                        "consumer1":{
                           "dest_type":"queue",
                           "address":"CMS_CLIENT_QUEUE"
                        }
                     },
                     "producers":{
                        "producer1":{
                           "dest_type":"queue",
                           "address":"CMS_CLIENT_QUEUE",
                           "properties":{
                              
                           }
                        }
                     }
                  }
               }
            }
         }
      },
      "message_parameters":{
         "producer1":{
            "session_factory":"connection1",
            "message_factory":"session1",
            "message_type":"text",
            "sender_type":"engine",
            "message_count":1
         }
      }
   },
   "check_property_exist_by_default_expiration":{
      "test_name":"test_create_producer_and_consumer_for_destination",
      "enabled":true,
      "expected":{
         "exceptions":{
            "connection1":{
               "count":0
            }
         },
         "messages":{
            "consumer1":{
               "connection":"connection1",
               "session":"session1",
               "message_type":"text",
               "receiver_type":"engine",
               "message_count":1,
               "properties":{
                  "expiration":1
               }
            }
         }
      },
      "cms_configuration":{
         "connection1":{
            "broker":"failover:(localhost:5672)?maxReconnectAttempts=5",
            "username":"admin",
            "password":"admin",
            "session":{
               "session1":{
                  "auto_ack":true,
                  "is_transacted":false,
                  "clients":{
                     "consumers":{
                        "consumer1":{
                           "dest_type":"queue",
                           "address":"CMS_CLIENT_QUEUE"
                        }
                     },
                     "producers":{
                        "producer1":{
                           "dest_type":"queue",
                           "address":"CMS_CLIENT_QUEUE",
                           "properties":{
                              
                           }
                        }
                     }
                  }
               }
            }
         }
      },
      "message_parameters":{
         "producer1":{
            "session_factory":"connection1",
            "message_factory":"session1",
            "message_type":"text",
            "sender_type":"engine",
            "message_count":1
         }
      }
   },
   "check_property_exist_by_default_message_id":{
      "test_name":"test_create_producer_and_consumer_for_destination",
      "enabled":true,
      "expected":{
         "exceptions":{
            "connection1":{
               "count":0
            }
         },
         "messages":{
            "consumer1":{
               "connection":"connection1",
               "session":"session1",
               "message_type":"text",
               "receiver_type":"engine",
               "message_count":1,
               "properties":{
                  "message_id":1
               }
            }
         }
      },
      "cms_configuration":{
         "connection1":{
            "broker":"failover:(localhost:5672)?maxReconnectAttempts=5",
            "username":"admin",
            "password":"admin",
            "session":{
               "session1":{
                  "auto_ack":true,
                  "is_transacted":false,
                  "clients":{
                     "consumers":{
                        "consumer1":{
                           "dest_type":"queue",
                           "address":"CMS_CLIENT_QUEUE"
                        }
                     },
                     "producers":{
                        "producer1":{
                           "dest_type":"queue",
                           "address":"CMS_CLIENT_QUEUE",
                           "properties":{
                              
                           }
                        }
                     }
                  }
               }
            }
         }
      },
      "message_parameters":{
         "producer1":{
            "session_factory":"connection1",
            "message_factory":"session1",
            "message_type":"text",
            "sender_type":"engine",
            "message_count":1
         }
      }
   },
   "check_property_exist_by_default_priority":{
      "test_name":"test_create_producer_and_consumer_for_destination",
      "enabled":true,
      "expected":{
         "exceptions":{
            "connection1":{
               "count":0
            }
         },
         "messages":{
            "consumer1":{
               "connection":"connection1",
               "session":"session1",
               "message_type":"text",
               "receiver_type":"engine",
               "message_count":1,
               "properties":{
                  "priority":1
               }
            }
         }
      },
      "cms_configuration":{
         "connection1":{
            "broker":"failover:(localhost:5672)?maxReconnectAttempts=5",
            "username":"admin",
            "password":"admin",
            "session":{
               "session1":{
                  "auto_ack":true,
                  "is_transacted":false,
                  "clients":{
                     "consumers":{
                        "consumer1":{
                           "dest_type":"queue",
                           "address":"CMS_CLIENT_QUEUE"
                        }
                     },
                     "producers":{
                        "producer1":{
                           "dest_type":"queue",
                           "address":"CMS_CLIENT_QUEUE",
                           "properties":{
                              
                           }
                        }
                     }
                  }
               }
            }
         }
      },
      "message_parameters":{
         "producer1":{
            "session_factory":"connection1",
            "message_factory":"session1",
            "message_type":"text",
            "sender_type":"engine",
            "message_count":1
         }
      }
   },
   "check_property_exist_by_default_redelivered":{
      "test_name":"test_create_producer_and_consumer_for_destination",
      "enabled":true,
      "expected":{
         "exceptions":{
            "connection1":{
               "count":0
            }
         },
         "messages":{
            "consumer1":{
               "connection":"connection1",
               "session":"session1",
               "message_type":"text",
               "receiver_type":"engine",
               "message_count":1,
               "properties":{
                  "redelivered":false
               }
            }
         }
      },
      "cms_configuration":{
         "connection1":{
            "broker":"failover:(localhost:5672)?maxReconnectAttempts=5",
            "username":"admin",
            "password":"admin",
            "session":{
               "session1":{
                  "auto_ack":true,
                  "is_transacted":false,
                  "clients":{
                     "consumers":{
                        "consumer1":{
                           "dest_type":"queue",
                           "address":"CMS_CLIENT_QUEUE"
                        }
                     },
                     "producers":{
                        "producer1":{
                           "dest_type":"queue",
                           "address":"CMS_CLIENT_QUEUE",
                           "properties":{
                              
                           }
                        }
                     }
                  }
               }
            }
         }
      },
      "message_parameters":{
         "producer1":{
            "session_factory":"connection1",
            "message_factory":"session1",
            "message_type":"text",
            "sender_type":"engine",
            "message_count":1
         }
      }
   },
   "check_property_exist_by_default_timestamp":{
      "test_name":"test_create_producer_and_consumer_for_destination",
      "enabled":true,
      "expected":{
         "exceptions":{
            "connection1":{
               "count":0
            }
         },
         "messages":{
            "consumer1":{
               "connection":"connection1",
               "session":"session1",
               "message_type":"text",
               "receiver_type":"engine",
               "message_count":1,
               "properties":{
                  "timestamp":"25-11-23 10:10:10:111"
               }
            }
         }
      },
      "cms_configuration":{
         "connection1":{
            "broker":"failover:(localhost:5672)?maxReconnectAttempts=5",
            "username":"admin",
            "password":"admin",
            "session":{
               "session1":{
                  "auto_ack":true,
                  "is_transacted":false,
                  "clients":{
                     "consumers":{
                        "consumer1":{
                           "dest_type":"queue",
                           "address":"CMS_CLIENT_QUEUE"
                        }
                     },
                     "producers":{
                        "producer1":{
                           "dest_type":"queue",
                           "address":"CMS_CLIENT_QUEUE",
                           "properties":{
                              
                           }
                        }
                     }
                  }
               }
            }
         }
      },
      "message_parameters":{
         "producer1":{
            "session_factory":"connection1",
            "message_factory":"session1",
            "message_type":"text",
            "sender_type":"engine",
            "message_count":1
         }
      }
   },
   "check_property_exist_by_default_type":{
      "test_name":"test_create_producer_and_consumer_for_destination",
      "enabled":true,
      "expected":{
         "exceptions":{
            "connection1":{
               "count":0
            }
         },
         "messages":{
            "consumer1":{
               "connection":"connection1",
               "session":"session1",
               "message_type":"text",
               "receiver_type":"engine",
               "message_count":1,
               "properties":{
                  "type":"cms-type-str"
               }
            }
         }
      },
      "cms_configuration":{
         "connection1":{
            "broker":"failover:(localhost:5672)?maxReconnectAttempts=5",
            "username":"admin",
            "password":"admin",
            "session":{
               "session1":{
                  "auto_ack":true,
                  "is_transacted":false,
                  "clients":{
                     "consumers":{
                        "consumer1":{
                           "dest_type":"queue",
                           "address":"CMS_CLIENT_QUEUE"
                        }
                     },
                     "producers":{
                        "producer1":{
                           "dest_type":"queue",
                           "address":"CMS_CLIENT_QUEUE",
                           "properties":{
                              
                           }
                        }
                     }
                  }
               }
            }
         }
      },
      "message_parameters":{
         "producer1":{
            "session_factory":"connection1",
            "message_factory":"session1",
            "message_type":"text",
            "sender_type":"engine",
            "message_count":1
         }
      }
   },
   "check_property_exist_by_default_destination":{
      "test_name":"test_create_producer_and_consumer_for_destination",
      "enabled":true,
      "expected":{
         "exceptions":{
            "connection1":{
               "count":0
            }
         },
         "messages":{
            "consumer1":{
               "connection":"connection1",
               "session":"session1",
               "message_type":"text",
               "receiver_type":"engine",
               "message_count":1,
               "properties":{
                  "destination":{
                     "dest_type":"queue",
                     "address":"CMS_CLIENT_QUEUE"
                  }
               }
            }
         }
      },
      "cms_configuration":{
         "connection1":{
            "broker":"failover:(localhost:5672)?maxReconnectAttempts=5",
            "username":"admin",
            "password":"admin",
            "session":{
               "session1":{
                  "auto_ack":true,
                  "is_transacted":false,
                  "clients":{
                     "consumers":{
                        "consumer1":{
                           "dest_type":"queue",
                           "address":"CMS_CLIENT_QUEUE"
                        }
                     },
                     "producers":{
                        "producer1":{
                           "dest_type":"queue",
                           "address":"CMS_CLIENT_QUEUE",
                           "properties":{
                              
                           }
                        }
                     }
                  }
               }
            }
         }
      },
      "message_parameters":{
         "producer1":{
            "session_factory":"connection1",
            "message_factory":"session1",
            "message_type":"text",
            "sender_type":"engine",
            "message_count":1
         }
      }
   },
   "test_durable_subscription":{
      "test_name":"test_create_producer_and_consumer_for_destination",
      "enabled":true,
      "expected":{
         "exceptions":{
            "connection1":{
               "count":0
            }
         },
         "messages":{
            "consumer1":{
               "connection":"connection1",
               "session":"session1",
               "message_type":"text",
               "receiver_type":"engine",
               "message_count":1
            }
         }
      },
      "cms_configuration":{
         "connection1":{
            "broker":"failover:(localhost:5672)?maxReconnectAttempts=5",
            "username":"admin",
            "password":"admin",
            "id":"ID:TEST:CMS_CLIENT",
            "session":{
               "session1":{
                  "auto_ack":true,
                  "is_transacted":false,
                  "clients":{
                     "consumers":{
                        "consumer1":{
                           "dest_type":"topic",
                           "address":"CMS_CLIENT_DURABLE_TOPIC",
                           "durable":true,
                           "subscription_name":"sub1",
                           "terminate_method":"stop"
                        }
                     },
                     "producers":{
                        "producer1":{
                           "dest_type":"topic",
                           "address":"CMS_CLIENT_DURABLE_TOPIC",
                           "properties":{
                              
                           }
                        }
                     }
                  }
               }
            }
         }
      },
      "message_parameters":{
         "producer1":{
            "session_factory":"connection1",
            "message_factory":"session1",
            "message_type":"text",
            "sender_type":"engine",
            "message_count":1
         }
      }
   },
   "test_send_to_durable_subscription_without_consumer":{
      "test_name":"test_create_producer_and_consumer_for_destination",
      "enabled":true,
      "expected":{
         "exceptions":{
            "connection1":{
               "count":0
            }
         },
         "messages":{
            
         }
      },
      "cms_configuration":{
         "connection1":{
            "broker":"failover:(localhost:5672)?maxReconnectAttempts=5",
            "username":"admin",
            "password":"admin",
            "id":"ID:TEST:CMS_CLIENT",
            "session":{
               "session1":{
                  "auto_ack":true,
                  "is_transacted":false,
                  "clients":{
                     "consumers":{
                        
                     },
                     "producers":{
                        "producer1":{
                           "dest_type":"topic",
                           "address":"CMS_CLIENT_DURABLE_TOPIC",
                           "properties":{
                              
                           }
                        }
                     }
                  }
               }
            }
         }
      },
      "message_parameters":{
         "producer1":{
            "session_factory":"connection1",
            "message_factory":"session1",
            "message_type":"text",
            "sender_type":"engine",
            "message_count":1
         }
      }
   },
   "test_consume_pre_sent_messages_from_durable_subscription":{
      "test_name":"test_create_producer_and_consumer_for_destination",
      "enabled":true,
      "expected":{
         "exceptions":{
            "connection1":{
               "count":0
            }
         },
         "messages":{
            "consumer1":{
               "connection":"connection1",
               "session":"session1",
               "message_type":"text",
               "receiver_type":"engine",
               "message_count":1
            }
         }
      },
      "cms_configuration":{
         "connection1":{
            "broker":"failover:(localhost:5672)?maxReconnectAttempts=5",
            "username":"admin",
            "password":"admin",
            "id":"ID:TEST:CMS_CLIENT",
            "session":{
               "session1":{
                  "auto_ack":true,
                  "is_transacted":false,
                  "clients":{
                     "consumers":{
                        "consumer1":{
                           "dest_type":"topic",
                           "address":"CMS_CLIENT_DURABLE_TOPIC",
                           "durable":true,
                           "subscription_name":"sub1",
                           "terminate_method":"close"
                        }
                     },
                     "producers":{
                        
                     }
                  }
               }
            }
         }
      },
      "message_parameters":{
         
      }
   }
}